body {
  font-family: 'Segoe UI', sans-serif;
}

nav h4 {
  font-size: 1.2rem;
}

.nav-link:hover {
  text-decoration: underline;
}
form input {
  background-color: #f9f9f9;
}
body.bg-dark input,
body.bg-dark .form-check-label {
  color: #f1f1f1;
}

body {
  overflow-x: hidden;
}
